<div class="todo-item">
    <div class="col-sm-12">
        <h3>{{ name }}</h3>
        <p>{{ alias }}</p>
        <a class="finishItem" data-myval="{{name}}" data-id="{{_id}}">Select</a> 
    </div>
</div>