 <article class="business-wrapper">
<div class="todo-item businessborder position">
    <div class="col-sm-12">
        <h3>{{ title }}</h3>
        <p>{{ text }}</p>
        {{!-- <img src="{{image_url}}" alt="Picture of Business" height="200" width="200"> --}}
        <p>Rating:{{ rating }} stars</p>
    </div>
</div>
</article>