<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebAppCoders</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    {{!-- <nav>
        <input type="button" name="">
    </nav> --}}
    <main>
        {{{body}}}
    </main>
</body>
</html>