<article class="new-post">
    <div class="header">
        <h1>Please select a business first</h1>
    </div>
    <form action="/users/reviewcreated" method="POST" class="new-post-form">
    <div class="col-sm-12 col-md-10" id="todo-area">
        {{#each business}} {{> business_item }} {{/each}}
    </div>
    <div id="review-details">
        <input id="businessid" name="businessid" type="text" value="">
        <input id="businessname" name="businessname" type="text" value="">
        <input id="newtask_description" name="newtask_description" type="text" value="">
        {{!-- <label>Review description
            <textarea id="newtask_description"></textarea>
        </label> --}}
        <button id="signup-button" type="submit" value="Sign Up" class="ybtn ybtn--primary ybtn--big disable-on-submit submit signup-button">
        <span>Submit</span></button>
    </div>
    </form>
</article>